In [1]:
import numpy as np
import scipy.stats as st
import pandas as pd
from gbnet.models import ORNORModel
from gbnet.aux import genData

In [2]:
NX, NActvX, NY = 10, 3, 200
Xgt, DEG, rels = genData(NX, NActvX, NY, AvgNTF=1.5)
print(len(rels), 'edges in rels')

301 edges in rels

In [3]:
model = ORNORModel(rels, DEG)

In [4]:
force = True
while not model.converged() or force:
    force = False
    model.sample(N=500, burn=0.3, njobs=2)

Sampling 2 chains in 2 jobs
Chain 1 - Sampling completed
Chain 0 - Sampling completed
Progress  100.00% -- Last: 0:00:43, Elapsed: 0:00:43, Mem usage: 0.33GB

Chains have converged

In [5]:
model.gelman_rubin[model.gelman_rubin>1.05]

Series([], dtype: float64)

In [6]:
Res = model.result(Xgt=Xgt)

In [7]:
model.Xres

          mean       std  srcuid  pred  gt
idx
X__1  1.000000  0.000000       1     1   1
X__9  0.105714  0.307691       9     0   0
X__5  1.000000  0.000000       5     1   1
X__0  0.008571  0.092250       0     0   0
X__7  0.017143  0.129896       7     0   0
X__4  1.000000  0.000000       4     1   1
X__8  0.008571  0.092250       8     0   0
X__2  0.130000  0.336544       2     0   0
X__3  0.092857  0.290440       3     0   0
X__6  0.080000  0.271487       6     0   0

In [8]:
Res['X']

      mean  std  srcuid  pred  gt
idx
X__1   1.0  0.0       1     1   1
X__5   1.0  0.0       5     1   1
X__4   1.0  0.0       4     1   1

In [9]:
Res['T']

          mean       std  srcuid
T__1  0.802119  0.075158       1
T__9  0.471708  0.147058       9
T__5  0.767353  0.085963       5
T__0  0.515989  0.139298       0
T__7  0.499553  0.137125       7
T__4  0.787721  0.080529       4
T__8  0.496675  0.160561       8
T__2  0.498268  0.144153       2
T__3  0.520868  0.131325       3
T__6  0.491619  0.150384       6

In [10]:
Res['S']

                    -         +  srcuid  trguid  pred  gt
idx
S__(1, 10)   0.825714  0.007143       1      10    -1  -1
S__(5, 14)   0.460000  0.052857       5      14     0  -1
S__(1, 14)   0.548571  0.041429       1      14    -1   0
S__(4, 17)   0.022857  0.025714       4      17     0   0
S__(1, 21)   0.747143  0.011429       1      21    -1  -1
S__(4, 27)   0.804286  0.020000       4      27    -1  -1
S__(5, 28)   0.455714  0.050000       5      28     0  -1
S__(1, 28)   0.522857  0.050000       1      28    -1  -1
S__(4, 31)   0.011429  0.791429       4      31     1   1
S__(5, 35)   0.031429  0.038571       5      35     0   0
S__(5, 36)   0.028571  0.031429       5      36     0   0
S__(4, 38)   0.835714  0.007143       4      38    -1   0
S__(1, 41)   0.031429  0.025714       1      41     0   0
S__(4, 42)   0.831429  0.004286       4      42    -1  -1
S__(4, 44)   0.790000  0.011429       4      44    -1  -1
S__(4, 45)   0.797143  0.007143       4      45    -1  -1
S__(1, 46)   0.810000  0.007143       1      46    -1  -1
S__(1, 48)   0.004286  0.752857       1      48     1   1
S__(1, 55)   0.844286  0.002857       1      55    -1  -1
S__(4, 56)   0.731429  0.011429       4      56    -1  -1
S__(1, 58)   0.034286  0.027143       1      58     0   0
S__(5, 58)   0.028571  0.030000       5      58     0   0
S__(1, 59)   0.818571  0.005714       1      59    -1  -1
S__(1, 60)   0.007143  0.811429       1      60     1   1
S__(1, 62)   0.004286  0.775714       1      62     1   1
S__(1, 65)   0.032857  0.025714       1      65     0   0
S__(5, 70)   0.772857  0.007143       5      70    -1  -1
S__(4, 72)   0.765714  0.017143       4      72    -1  -1
S__(4, 76)   0.028571  0.017143       4      76     0   0
S__(4, 78)   0.785714  0.011429       4      78    -1  -1
...               ...       ...     ...     ...   ...  ..
S__(1, 151)  0.851429  0.007143       1     151    -1  -1
S__(1, 152)  0.035714  0.025714       1     152     0   0
S__(4, 154)  0.004286  0.792857       4     154     1   1
S__(1, 156)  0.008571  0.818571       1     156     1   1
S__(1, 160)  0.012857  0.544286       1     160     1   0
S__(5, 160)  0.018571  0.431429       5     160     0   1
S__(1, 162)  0.021429  0.024286       1     162     0   0
S__(1, 165)  0.807143  0.012857       1     165    -1  -1
S__(5, 166)  0.015714  0.747143       5     166     1   1
S__(1, 168)  0.767143  0.017143       1     168    -1  -1
S__(4, 172)  0.837143  0.007143       4     172    -1  -1
S__(1, 178)  0.021429  0.027143       1     178     0   1
S__(5, 179)  0.024286  0.021429       5     179     0   0
S__(1, 180)  0.778571  0.007143       1     180    -1  -1
S__(5, 182)  0.021429  0.018571       5     182     0   0
S__(5, 183)  0.008571  0.815714       5     183     1   1
S__(4, 185)  0.507143  0.058571       4     185    -1   0
S__(5, 185)  0.391429  0.070000       5     185     0  -1
S__(1, 187)  0.018571  0.015714       1     187     0   0
S__(4, 193)  0.777143  0.020000       4     193    -1  -1
S__(1, 196)  0.814286  0.007143       1     196    -1  -1
S__(5, 197)  0.031429  0.031429       5     197     0   0
S__(1, 199)  0.004286  0.811429       1     199     1   1
S__(5, 202)  0.010000  0.795714       5     202     1   1
S__(5, 203)  0.364286  0.074286       5     203     0   0
S__(1, 203)  0.397143  0.074286       1     203     0  -1
S__(4, 203)  0.314286  0.075714       4     203     0   0
S__(5, 205)  0.007143  0.767143       5     205     1   1
S__(1, 206)  0.031429  0.034286       1     206     0   0
S__(1, 209)  0.790000  0.010000       1     209    -1  -1

[93 rows x 6 columns]