In [1]:
import numpy as np
import scipy.stats as st
import pandas as pd
from gbnet.models import ORNORModel
from gbnet.aux import genData

In [2]:
NX, NActvX, NY = 20, 3, 500
Xgt, DEG, rels = genData(NX, NActvX, NY, AvgNTF=1.5)
print(len(rels), 'edges in rels')

745 edges in rels

In [3]:
model = ORNORModel(rels, DEG)

In [4]:
while not model.converged():
    model.sample(N=100, burn=0.5, njobs=2)

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:14, Elapsed: 0:00:14, mem usage: 0.30GB

Failed to converge. Gelman-Rubin statistics was     7.0 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:17, Elapsed: 0:00:31, mem usage: 0.55GB

Failed to converge. Gelman-Rubin statistics was   3.518 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:18, Elapsed: 0:00:49, mem usage: 0.75GB

Failed to converge. Gelman-Rubin statistics was   12.21 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:19, Elapsed: 0:01:08, mem usage: 0.82GB

Failed to converge. Gelman-Rubin statistics was   14.11 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:19, Elapsed: 0:01:28, mem usage: 0.99GB

Failed to converge. Gelman-Rubin statistics was   2.982 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:21, Elapsed: 0:01:48, mem usage: 0.99GB

Failed to converge. Gelman-Rubin statistics was   1.528 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:21, Elapsed: 0:02:09, mem usage: 1.19GB

Failed to converge. Gelman-Rubin statistics was   1.237 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:22, Elapsed: 0:02:31, mem usage: 1.16GB

Failed to converge. Gelman-Rubin statistics was   1.103 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:24, Elapsed: 0:02:55, mem usage: 1.27GB

Chains have converged

In [5]:
model.gelman_rubin[model.gelman_rubin>1.05]

Series([], dtype: float64)

In [6]:
Res = model.result(Xgt=Xgt)

In [7]:
Res['X']

       mean  std  srcuid  pred  gt
idx
X__9    1.0  0.0       9     1   1
X__12   1.0  0.0      12     1   1
X__8    1.0  0.0       8     1   1

In [8]:
Res['T']

           mean       std  srcuid
T__1   0.502056  0.148188       1
T__4   0.509907  0.142705       4
T__11  0.515053  0.139466      11
T__18  0.503190  0.141385      18
T__3   0.499610  0.142547       3
T__2   0.493757  0.147799       2
T__16  0.516098  0.146239      16
T__10  0.504825  0.154366      10
T__17  0.511601  0.153792      17
T__6   0.482511  0.151436       6
T__5   0.498386  0.147855       5
T__7   0.509946  0.143752       7
T__9   0.828316  0.060419       9
T__12  0.828124  0.062472      12
T__14  0.481393  0.142620      14
T__15  0.491324  0.140794      15
T__8   0.783182  0.077965       8
T__0   0.518779  0.146290       0
T__19  0.480963  0.153634      19
T__13  0.495884  0.142035      13

In [9]:
Res['S']

                     -         +  srcuid  trguid  pred  gt
idx
S__(9, 33)    1.000000  0.000000       9      33    -1  -1
S__(12, 34)   0.021111  0.022222      12      34     0   0
S__(9, 36)    1.000000  0.000000       9      36    -1  -1
S__(8, 38)    0.541111  0.050000       8      38    -1  -1
S__(9, 38)    0.517778  0.044444       9      38    -1   0
S__(8, 41)    1.000000  0.000000       8      41    -1  -1
S__(8, 43)    0.025556  0.028889       8      43     0   0
S__(8, 52)    0.020000  0.476667       8      52     0   1
S__(9, 52)    0.010000  0.580000       9      52     1   0
S__(12, 54)   0.000000  0.990000      12      54     1   1
S__(9, 60)    1.000000  0.000000       9      60    -1  -1
S__(8, 65)    0.000000  1.000000       8      65     1   1
S__(12, 67)   0.000000  1.000000      12      67     1   1
S__(9, 71)    0.015556  0.024444       9      71     0   0
S__(8, 74)    0.032222  0.016667       8      74     0   0
S__(8, 82)    1.000000  0.000000       8      82    -1  -1
S__(9, 95)    0.988889  0.000000       9      95    -1  -1
S__(12, 97)   0.022222  0.014444      12      97     0   0
S__(12, 103)  1.000000  0.000000      12     103    -1  -1
S__(9, 116)   0.000000  0.990000       9     116     1   1
S__(9, 118)   0.000000  1.000000       9     118     1   1
S__(12, 122)  0.021111  0.017778      12     122     0   0
S__(8, 123)   0.026667  0.022222       8     123     0   0
S__(9, 126)   0.990000  0.000000       9     126    -1  -1
S__(8, 129)   0.022222  0.027778       8     129     0   0
S__(8, 130)   0.022222  0.028889       8     130     0   0
S__(12, 135)  1.000000  0.000000      12     135    -1  -1
S__(12, 136)  0.000000  0.993333      12     136     1   1
S__(12, 137)  0.017778  0.025556      12     137     0   0
S__(9, 143)   0.000000  1.000000       9     143     1   1
...                ...       ...     ...     ...   ...  ..
S__(9, 402)   0.021111  0.022222       9     402     0   0
S__(12, 420)  0.000000  1.000000      12     420     1   1
S__(12, 429)  1.000000  0.000000      12     429    -1  -1
S__(9, 437)   0.021111  0.017778       9     437     0   0
S__(9, 456)   0.000000  0.997778       9     456     1   1
S__(12, 457)  0.000000  0.991111      12     457     1   1
S__(9, 460)   0.011111  0.480000       9     460     0   0
S__(8, 460)   0.015556  0.578889       8     460     1   1
S__(9, 463)   0.000000  1.000000       9     463     1   1
S__(9, 465)   1.000000  0.000000       9     465    -1  -1
S__(12, 466)  1.000000  0.000000      12     466    -1  -1
S__(8, 467)   0.030000  0.023333       8     467     0   0
S__(8, 470)   0.000000  1.000000       8     470     1   1
S__(12, 471)  1.000000  0.000000      12     471    -1  -1
S__(12, 472)  0.000000  1.000000      12     472     1   1
S__(9, 476)   0.000000  1.000000       9     476     1   1
S__(8, 478)   1.000000  0.000000       8     478    -1  -1
S__(8, 480)   0.023333  0.021111       8     480     0   0
S__(8, 483)   0.025556  0.023333       8     483     0   0
S__(9, 485)   0.020000  0.021111       9     485     0   0
S__(12, 485)  0.015556  0.020000      12     485     0   0
S__(8, 488)   0.020000  0.031111       8     488     0   0
S__(8, 491)   1.000000  0.000000       8     491    -1  -1
S__(9, 503)   0.032222  0.020000       9     503     0   0
S__(9, 508)   0.026667  0.025556       9     508     0   0
S__(8, 508)   0.033333  0.023333       8     508     0   0
S__(9, 509)   0.018889  0.016667       9     509     0   0
S__(9, 514)   0.025556  0.018889       9     514     0   0
S__(12, 517)  0.594444  0.037778      12     517    -1  -1
S__(8, 517)   0.464444  0.065556       8     517     0   0

[109 rows x 6 columns]

In [10]:
model.rp.process.children()

[]