In [1]:
import numpy as np
import scipy.stats as st
import pandas as pd
from gbnet.models import ORNORModel
from gbnet.aux import genData

In [2]:
NX, NActvX, NY = 10, 3, 200
Xgt, DEG, rels = genData(NX, NActvX, NY, AvgNTF=1.5)
print(len(rels), 'edges in rels')

304 edges in rels

In [3]:
model = ORNORModel(rels, DEG, nchains=2)

In [4]:
# Sample and burn for initial burnin
model.sample(N=100, njobs=2)
model.burn_stats()

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Chain 1 - Sampling completed
Progress  100.00% -- Last: 0:00:34, Elapsed: 0:00:34, Mem usage: 0.28GB

In [5]:
force = True
while not model.converged() or force:
    force = False
    model.sample(N=100, thin=1, njobs=2)

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Progress  100.00% -- Last: 0:00:34, Elapsed: 0:01:07, Mem usage: 0.30GB
Chain 1 - Sampling completed

Failed to converge. Gelman-Rubin statistics was   1.201 for some parameter

Sampling 2 chains in 2 jobs
Chain 0 - Sampling completed
Progress  100.00% -- Last: 0:00:35, Elapsed: 0:01:42, Mem usage: 0.31GB
Chain 1 - Sampling completed

Chains have converged

In [6]:
model.gelman_rubin[model.gelman_rubin>1.05]

name
X__8_0           1.080723
X__8_1           1.080723
T__5             1.060360
S__(8, 95)_0     1.050327
S__(4, 107)_1    1.052025
S__(4, 123)_0    1.057095
dtype: float64

In [7]:
Res = model.result(Xgt=Xgt)

In [8]:
model.Xres

        mean       std  srcuid  pred  gt
idx
X__4  1.0000  0.000000       4     1   1
X__1  0.0400  0.195959       1     0   0
X__6  0.0050  0.070534       6     0   0
X__8  0.1225  0.327862       8     0   0
X__7  0.0025  0.049937       7     0   0
X__9  0.0175  0.131125       9     0   0
X__5  0.0100  0.099499       5     0   0
X__0  1.0000  0.000000       0     1   1
X__3  1.0000  0.000000       3     1   1
X__2  0.0200  0.140000       2     0   0

In [9]:
Res['X']

      mean  std  srcuid  pred  gt
idx
X__4   1.0  0.0       4     1   1
X__0   1.0  0.0       0     1   1
X__3   1.0  0.0       3     1   1

In [10]:
Res['T']

          mean       std  srcuid
name
T__4  0.885508  0.081570       4
T__1  0.469808  0.230074       1
T__6  0.498246  0.214555       6
T__8  0.528860  0.204927       8
T__7  0.463572  0.196379       7
T__9  0.484755  0.215436       9
T__5  0.520429  0.194500       5
T__0  0.834773  0.095432       0
T__3  0.796463  0.122824       3
T__2  0.495263  0.219525       2

In [11]:
Res['S']

                  -       +  srcuid  trguid  pred  gt
idx
S__(4, 10)   0.8275  0.0000       4      10    -1  -1
S__(4, 16)   0.8625  0.0050       4      16    -1  -1
S__(4, 18)   0.0075  0.8500       4      18     1   1
S__(4, 20)   0.0025  0.0150       4      20     0   0
S__(4, 22)   0.5775  0.0275       4      22    -1   1
S__(0, 22)   0.4025  0.0550       0      22     0  -1
S__(3, 24)   0.3750  0.0550       3      24     0   0
S__(0, 24)   0.3625  0.0800       0      24     0   0
S__(4, 24)   0.3225  0.0675       4      24     0  -1
S__(4, 26)   0.0125  0.4975       4      26     0   1
S__(3, 26)   0.0125  0.4800       3      26     0   0
S__(4, 28)   0.0175  0.0150       4      28     0   0
S__(0, 31)   0.0100  0.0125       0      31     0   0
S__(4, 33)   0.0250  0.0175       4      33     0  -1
S__(4, 36)   0.0100  0.8350       4      36     1   1
S__(3, 39)   0.0075  0.8225       3      39     1   1
S__(4, 42)   0.8350  0.0000       4      42    -1  -1
S__(3, 46)   0.0050  0.8075       3      46     1   1
S__(3, 50)   0.0200  0.0300       3      50     0   0
S__(4, 52)   0.0075  0.0150       4      52     0   0
S__(0, 54)   0.0150  0.5250       0      54     1   1
S__(4, 54)   0.0125  0.4500       4      54     0   0
S__(0, 55)   0.8175  0.0075       0      55    -1  -1
S__(4, 57)   0.0050  0.0250       4      57     0   0
S__(3, 59)   0.4050  0.0550       3      59     0  -1
S__(4, 59)   0.5475  0.0200       4      59    -1   0
S__(0, 60)   0.0250  0.0300       0      60     0   0
S__(4, 61)   0.0100  0.8050       4      61     1   1
S__(0, 63)   0.4725  0.0525       0      63     0   1
S__(3, 63)   0.4800  0.0600       3      63     0  -1
...             ...     ...     ...     ...   ...  ..
S__(3, 154)  0.0400  0.0175       3     154     0   0
S__(4, 155)  0.0125  0.0125       4     155     0   0
S__(3, 156)  0.8250  0.0050       3     156    -1  -1
S__(0, 158)  0.0175  0.8050       0     158     1   1
S__(0, 159)  0.0050  0.8475       0     159     1   1
S__(4, 160)  0.0025  0.8575       4     160     1   1
S__(0, 162)  0.0025  0.8150       0     162     1   1
S__(3, 164)  0.0275  0.0450       3     164     0   0
S__(0, 165)  0.0275  0.0175       0     165     0   0
S__(4, 169)  0.0100  0.8400       4     169     1   1
S__(3, 172)  0.0050  0.8050       3     172     1   1
S__(0, 173)  0.0250  0.0125       0     173     0   0
S__(4, 173)  0.0200  0.0075       4     173     0   0
S__(3, 176)  0.0050  0.7750       3     176     1   1
S__(0, 178)  0.0250  0.0275       0     178     0   0
S__(4, 179)  0.0075  0.8450       4     179     1   1
S__(4, 180)  0.0050  0.8675       4     180     1   1
S__(4, 182)  0.0200  0.0200       4     182     0  -1
S__(4, 186)  0.0250  0.0075       4     186     0   0
S__(0, 187)  0.0225  0.0250       0     187     0   0
S__(4, 189)  0.0175  0.4575       4     189     0   1
S__(0, 189)  0.0200  0.4800       0     189     0   1
S__(0, 190)  0.0150  0.0375       0     190     0   0
S__(4, 191)  0.8375  0.0150       4     191    -1  -1
S__(0, 193)  0.8125  0.0175       0     193    -1  -1
S__(0, 197)  0.0075  0.8350       0     197     1   1
S__(4, 201)  0.0075  0.4650       4     201     0   0
S__(0, 201)  0.0275  0.5150       0     201     1   1
S__(0, 203)  0.0225  0.0225       0     203     0   0
S__(4, 204)  0.8575  0.0000       4     204    -1  -1

[96 rows x 6 columns]